Repository ping-browser/ping-core, pull requests merged in 2024-09, with the labels that each got.

#79 Sign final keshav
  components/brave_rewards/resources/page/brave_rewards_page.html
  components/brave_rewards/resources/page/brave_rewards_page_android.html
  components/brave_rewards/resources/page/ping_doc_signer/components/SignatureMethodPopup/SignatureMethodPopup.tsx
  components/brave_rewards/resources/page/ping_doc_signer/components/SignatureTypePopup/SignatureTypePopup.tsx
  components/brave_rewards/resources/page/ping_doc_signer/components/SignatureTypePopup/styles.ts
  components/brave_rewards/resources/page/ping_doc_signer/pdf_renderer.tsx
  components/brave_rewards/resources/page/ping_doc_signer/utils/SCRIPTIN.ttf
  components/brave_rewards/resources/page/ping_doc_signer/utils/fontHex.ts
  components/brave_rewards/resources/page/ping_doc_signer/utils/pdf_signer.tsx
  components/brave_rewards/resources/page/ping_doc_signer/utils/pdf_verify.ts
  components/brave_rewards/resources/page/ping_doc_signer/utils/types.ts
  package-lock.json
  package.json
  third_party/npm_@btielen_pdf-lib-fontkit/README.chromium
  third_party/npm_@pdf-lib_fontkit/README.chromium
  ui/webui/resources/fonts.gni
  ui/webui/resources/fonts/fonts.gni
  ui/webui/resources/fonts/scriptin.css
  ui/webui/resources/fonts/third_party/scriptin/README.chromium
  ui/webui/resources/fonts/third_party/scriptin/SCRIPTIN.ttf
Labels: CI/run-audit-deps, CI/storybook-url

#77 android urls, app icon, shields changes, ai rephraser
  android/brave_java_resources.gni
  android/java/org/chromium/chrome/browser/BraveIntentHandler.java
  android/java/org/chromium/chrome/browser/app/BraveActivity.java
  android/java/org/chromium/chrome/browser/brave_leo/BraveLeoSettingsLauncherHelper.java
  android/java/org/chromium/chrome/browser/brave_news/CardBuilderFeedCard.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/Utils.java
  android/java/org/chromium/chrome/browser/crypto_wallet/util/WalletConstants.java
  android/java/org/chromium/chrome/browser/feedback/BraveHelpAndFeedbackLauncherImpl.java
  android/java/org/chromium/chrome/browser/firstrun/WelcomeOnboardingActivity.java
  android/java/org/chromium/chrome/browser/notifications/BraveOnboardingNotification.java
  android/java/org/chromium/chrome/browser/ntp_background_images/RewardsBottomSheetDialogFragment.java
  android/java/org/chromium/chrome/browser/onboarding/v2/HighlightDialogFragment.java
  android/java/org/chromium/chrome/browser/rate/RateFeedbackUtils.java
  android/java/org/chromium/chrome/browser/rewards/BraveRewardsPanel.java
  android/java/org/chromium/chrome/browser/rewards/tipping/TippingVerifiedCreatorToolTip.java
  android/java/org/chromium/chrome/browser/set_default_browser/BraveSetDefaultBrowserUtils.java
  android/java/org/chromium/chrome/browser/settings/BraveLeoPreferences.java
  android/java/org/chromium/chrome/browser/settings/BraveMainPreferencesBase.java
  android/java/org/chromium/chrome/browser/settings/BraveWebrtcPolicyPreference.java
  android/java/org/chromium/chrome/browser/shields/CreateCustomFiltersFragment.java
  android/java/org/chromium/chrome/browser/upgrade/NotificationIntent.java
  android/java/org/chromium/chrome/browser/util/BraveConstants.java
  android/java/org/chromium/chrome/browser/vpn/settings/BraveVpnPreferences.java
  android/java/org/chromium/chrome/browser/vpn/utils/BraveVpnUtils.java
  android/java/res/drawable-nodpi/dylan_malval_sea_min.jpg
  android/java/res/drawable-nodpi/dylan_malval_sea_min.webp
  android/java/res/drawable/ic_brave.xml
  android/java/res/xml/brave_main_preferences.xml
  android/javatests/org/chromium/chrome/browser/BraveSwipeRefreshHandlerTest.java
  app/brave_generated_resources.grd
  app/theme/brave/android/res_brave_default_base/mipmap-hdpi/layered_app_icon.png
  app/theme/brave/android/res_brave_default_base/mipmap-mdpi/layered_app_icon.png
  app/theme/brave/android/res_brave_default_base/mipmap-xhdpi/layered_app_icon.png
  app/theme/brave/android/res_brave_default_base/mipmap-xxhdpi/layered_app_icon.png
  app/theme/brave/android/res_brave_default_base/mipmap-xxxhdpi/layered_app_icon.png
  browser/ui/android/strings/android_brave_strings.grd
  browser/ui/brave_browser.cc
  components/brave_new_tab_ui/tsconfig.json
  components/parental_control/extension/content/content_scripts/popup.js
  components/parental_control/extension/content/ui/sessionTimeout.html
  components/ping_ai_copilot/extension/BUILD.gn
  components/ping_ai_copilot/extension/assets/back-dark.svg
  components/ping_ai_copilot/extension/assets/back-light.svg
  components/ping_ai_copilot/extension/assets/cross-light.svg
  components/ping_ai_copilot/extension/assets/rephrase-dark-hover.svg
  components/ping_ai_copilot/extension/assets/rephrase-dark.svg
  components/ping_ai_copilot/extension/assets/rephrase-light-hover.svg
  components/ping_ai_copilot/extension/assets/rephrase-light.svg
  components/ping_ai_copilot/extension/assets/rewrite-dark.svg
  components/ping_ai_copilot/extension/assets/rewrite-light.svg
  components/ping_ai_copilot/extension/content/content_scripts/aiSummarizer.js
  components/ping_ai_copilot/extension/content/content_scripts/rephraser.js
  components/ping_ai_copilot/extension/content/ui/style.css
  components/ping_ai_copilot/extension/manifest.json
  components/ping_ai_copilot/extension/service_worker/background.js
  components/ping_ai_copilot/resources.grd
Labels: CI/storybook-url, feature/web3/wallet

#81 resolved tooltip's visibility in parental control popup
  components/parental_control/extension/content/ui/popup.css
  components/parental_control/extension/content/ui/popup.html
Labels: CI/storybook-url
