Repository ping-browser/ping-core, pull requests merged in 2024-06, with the labels that each got.

#31 removed brave stats and customized brave in-built extensions(on right click)
  browser/brave_profile_prefs.cc
  browser/resources/settings/images/brave-icon-beta-color.svg
  browser/resources/settings/images/brave-icon-dev-color.svg
  browser/resources/settings/images/brave-icon-nightly-color.svg
  browser/resources/settings/images/brave-icon-release-color.svg
  build/commands/lib/util.js
  components/brave_extension/extension/brave_extension/assets/img/icon-128.png
  components/brave_extension/extension/brave_extension/assets/img/icon-16.png
  components/brave_extension/extension/brave_extension/assets/img/icon-256.png
  components/brave_extension/extension/brave_extension/assets/img/icon-32.png
  components/brave_extension/extension/brave_extension/assets/img/icon-48.png
  components/brave_extension/extension/brave_extension/assets/img/icon-64.png
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_extension/extension/brave_extension/manifest.json
Labels: CI/storybook-url

#29 added parental control as default extension
  brave_paks.gni
  browser/extensions/BUILD.gn
  browser/extensions/brave_component_loader.cc
  browser/ui/BUILD.gn
  build/commands/lib/start.js
  chromium_src/chrome/browser/extensions/chrome_component_extension_resource_manager.cc
  chromium_src/chrome/browser/extensions/component_extensions_allowlist/allowlist.cc
  chromium_src/chrome/installer/setup/sources.gni
  chromium_src/extensions/common/constants.cc
  chromium_src/extensions/common/constants.h
  components/parental_control/BUILD.gn
  components/parental_control/extension/BUILD.gn
  components/parental_control/extension/README.md
  components/parental_control/extension/assets/Logo.png
  components/parental_control/extension/assets/Logo_active.png
  components/parental_control/extension/assets/Logo_inactive.png
  components/parental_control/extension/assets/rules/defaultBlockRules.js
  components/parental_control/extension/assets/rules/gamesBlockRules.js
  components/parental_control/extension/assets/rules/socialMediaBlockRules.js
  components/parental_control/extension/assets/timeout.jpg
  components/parental_control/extension/content/content_scripts/popup.js
  components/parental_control/extension/content/ui/popup.css
  components/parental_control/extension/content/ui/popup.html
  components/parental_control/extension/content/ui/popup.js
  components/parental_control/extension/content/ui/sessionTimeout.html
  components/parental_control/extension/manifest.json
  components/parental_control/extension/service_worker/background.js
  components/parental_control/resources.grd
  resources/resource_ids.spec
Labels: CI/storybook-url, potential-layer-violation-fixes

#33 Added pdf rendering and selection tool ui in ping internal page
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/pdf_renderer.tsx
  components/brave_rewards/resources/page/components/pdfjs-dist-worker.js
  components/constants/url_constants.h
  package-lock.json
  package.json
  third_party/npm_react-pdf/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url

#35 Latest merge
  brave_paks.gni
  browser/extensions/BUILD.gn
  browser/extensions/brave_component_loader.cc
  browser/ui/BUILD.gn
  browser/ui/toolbar/brave_app_menu_model.cc
  browser/ui/views/toolbar/brave_toolbar_view.cc
  build/commands/lib/config.js
  chromium_src/chrome/browser/extensions/chrome_component_extension_resource_manager.cc
  chromium_src/chrome/browser/extensions/component_extensions_allowlist/allowlist.cc
  chromium_src/chrome/installer/setup/sources.gni
  chromium_src/extensions/common/constants.h
  components/img/newtab/backgrounds/dylan-malval_sea-min.webp
  components/parental_control/BUILD.gn
  components/parental_control/extension/BUILD.gn
  components/parental_control/extension/README.md
  components/parental_control/extension/assets/Logo.png
  components/parental_control/extension/assets/Logo_active.png
  components/parental_control/extension/assets/Logo_inactive.png
  components/parental_control/extension/assets/rules/defaultBlockRules.js
  components/parental_control/extension/assets/rules/gamesBlockRules.js
  components/parental_control/extension/assets/rules/socialMediaBlockRules.js
  components/parental_control/extension/assets/timeout.jpg
  components/parental_control/extension/content/content_scripts/popup.js
  components/parental_control/extension/content/ui/popup.css
  components/parental_control/extension/content/ui/popup.html
  components/parental_control/extension/content/ui/popup.js
  components/parental_control/extension/content/ui/sessionTimeout.html
  components/parental_control/extension/manifest.json
  components/parental_control/extension/service_worker/background.js
  components/parental_control/resources.grd
  resources/resource_ids.spec
Labels: CI/storybook-url

#40 renderer changes
  components/brave_rewards/resources/page/brave_rewards_page.tsx
  components/brave_rewards/resources/page/components/pdf_renderer.tsx
  components/brave_rewards/resources/page/components/pdfjs-dist-worker.js
  components/constants/url_constants.h
  package-lock.json
  package.json
  third_party/npm_react-pdf/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url

#37 Added selection while scrolling and other ui changes
  components/brave_rewards/resources/page/components/pdf_renderer.tsx
  components/parental_control/extension/service_worker/background.js
Labels: CI/storybook-url

#42 Added docSigner contextMenu inside brave-extension, added prompt popup for taking input path, pin and other error handling
  components/brave_extension/extension/brave_extension/background/docSigner.ts
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_rewards/resources/page/components/pdf_renderer.tsx
Labels: CI/storybook-url
