Repository ping-browser/ping-core, pull requests merged in 2024-07, with the labels that each got.

#43 Implemented parental control new ui
  components/parental_control/extension/assets/background.svg
  components/parental_control/extension/content/ui/popup.css
  components/parental_control/extension/content/ui/popup.html
  components/parental_control/extension/content/ui/popup.js
  components/parental_control/resources.grd
Labels: CI/storybook-url

#52 Integrated UI with the sign and verify pdf flow natively !
  components/brave_extension/extension/brave_extension/background/events/cosmeticFilterEvents.ts
  components/brave_rewards/resources/brave_rewards_static_resources.grd
  components/brave_rewards/resources/page/assets/Frame.png
  components/brave_rewards/resources/page/assets/pdfLogo.png
  components/brave_rewards/resources/page/assets/pdfMain.png
  components/brave_rewards/resources/page/components/SignPdfError.ts
  components/brave_rewards/resources/page/components/pdf_renderer.tsx
  components/brave_rewards/resources/page/components/pdf_signer.tsx
  components/brave_rewards/resources/page/components/pdf_verify.ts
  components/brave_rewards/resources/page/components/ping-sign-pdf.module.css
  package-lock.json
  package.json
  third_party/npm_node-forge/README.chromium
  third_party/npm_node-signpdf/README.chromium
  third_party/npm_pdf-lib/README.chromium
  third_party/npm_ws/README.chromium
Labels: CI/run-audit-deps, CI/storybook-url

#54 changed support url
  browser/resources/settings/brave_overrides/about_page.ts
  browser/ui/webui/private_new_tab_page/brave_private_new_tab_page_handler.cc
  browser/ui/webui/settings/brave_settings_localized_strings_provider.cc
  chromium_src/chrome/app/resources/manpage.1.in
  chromium_src/chrome/common/url_constants.h
  chromium_src/components/policy/tools/template_writers/writer_configuration.py
  chromium_src/components/safe_browsing/content/browser/base_blocking_page.cc
  chromium_src/components/security_interstitials/content/https_only_mode_blocking_page.cc
  components/ai_chat/core/browser/constants.cc
  components/brave_ads/browser/reminder/reminder_util.cc
  components/brave_rewards/resources/page/components/provider_redirect_modal.tsx
  components/brave_rewards/resources/page/components/reset_modal.tsx
  components/brave_rewards/resources/page/components/unsupported_region_notice.tsx
  components/brave_rewards/resources/rewards_panel/lib/extension_host.ts
  components/brave_welcome_ui/components/help-wdp/index.tsx
  components/constants/url_constants.h
  ios/brave-ios/Sources/Brave/Assets/Interstitial Pages/Pages/HTTPBlocked.html
Labels: CI/storybook-url

#45 highContrast and screenReader
  components/brave_extension/extension/brave_extension/background.ts
  components/brave_extension/extension/brave_extension/background/highContrastBg.ts
  components/brave_extension/extension/brave_extension/content_element_picker.ts
  components/brave_extension/extension/brave_extension/highContrast.js
  components/brave_extension/extension/brave_extension/manifest.json
  components/parental_control/extension/service_worker/background.js
Labels: CI/storybook-url

#59 highContrast changes
  components/brave_extension/extension/brave_extension/background/highContrastBg.ts
  components/brave_extension/extension/brave_extension/content_element_picker.ts
  components/brave_extension/extension/brave_extension/highContrast.js
  components/brave_extension/extension/brave_extension/manifest.json
  components/parental_control/extension/service_worker/background.js
Labels: CI/storybook-url

#61 Removed proxying for api requests and added variables for safebrowsing api
  browser/net/brave_system_request_handler.cc
  build/commands/lib/config.js
Labels: CI/run-network-audit

#62 Latest fixes
  components/brave_extension/extension/brave_extension/assets/img/aiSummarizerIcon .svg
  components/brave_extension/extension/brave_extension/assets/img/content_copy.svg
  components/brave_extension/extension/resources.grd
  components/brave_wallet/browser/brave_wallet_utils.cc
Labels: feature/web3/wallet, feature/web3/wallet/core
